@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/*police personnalisée*/
html, body{
    font-family: 'Raleway', sans-serif ;
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap);
}

/*classe général qui permet de centrer tous les éléments au milieu*/
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.decorationNone{
    text-decoration: none;
}

.textegras{ /*police gras*/
    font-weight: bold; 
}

.bordureNone{
    border: none;
}

/*couleur de la page*/
.colorbleu{
    color: #0065FC;
}

.colorbleuclair{
    color: #DEEBFF;
}

.colorgris{
    color: #F2F2F2;
}

/*couleur background*/
.backbleu{
    background-color: #0065FC;
}

.backbleuclair{
    background-color: #DEEBFF;
}

.backgris{
    background-color: #F2F2F2;
}

/*espacer les élements sans qu'il n'y ait une marge entre eux*/
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*liens de navigation*/
/*largeur de la div navigation*/
.sizeLiens{
    width: 45%;
}

/*couleur de la barre de navigation*/
.colorLien2{
    color: black;
}

/*metre trait au dessus de hébergement*/
.sizeLien{
    width: 140px;
    height: 99px;
}

/*trait au dessus de "hébergements"*/
.bordureNav{
    border-top: 1px solid;
    color: #0065FC;
}

.bordureNav23{
    border-top: 1px solid transparent;
}

/*rajouter une hauteur au lien de navigation*/
.sizeNav{
    height: 100px;
}

.logo{
    width: 120px;
    height: 50px;
}

.margeLogo{
    margin-bottom: 10px;

}

/*header*/
.bordureSearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}

.iconSize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.paddingSearch{
    padding-left: 20px; /*décaler le texte*/
}

.boutonSearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/*filtres*/
.filtre{
    display: flex;
    align-items: center;
}

.margeFiltre{
    margin-top: 50px;
    margin-bottom: 40px;
}

.margeentrettrefiltre{
    margin-right: 20px;
}

.filtreTexteIcon{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreTexteIcon:hover > .filtreText{
    color: #0065FC; /*changement de couleur quand souris passe sur le filtre*/
}

.filtreTexteIcon:hover > .filtreIcons{
    color: white;
    background-color: #0065FC;
}

.filtreText{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreIcons{
    border-radius: 25px;
    margin-left: -2px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}

